In [52]:
import pandas as pd
import numpy as np

In [53]:

# Set random seed for reproducibility
np.random.seed(42)

# Generate random categorical variables
categories = ['Category1', 'Category2', 'Category3']
categorical_data = np.random.choice(categories, size=100, replace=True)

# Generate random numerical variables
numerical_data = np.random.normal(loc=0, scale=1, size=100)

# Generate random missing values
missing_mask = np.random.choice([True, False], size=100, p=[0.2, 0.8])
numerical_data[missing_mask] = np.nan

# Create a DataFrame
data = pd.DataFrame({
    'Category': categorical_data,
    'Numeric': numerical_data
})

# Print the DataFrame
print(data.head())

    Category   Numeric
0  Category3  0.582123
1  Category1       NaN
2  Category3  0.894332
3  Category3  0.754998
4  Category1 -0.207166

In [54]:
df_encoded = pd.get_dummies(data, columns=['Category'])

In [55]:
df_filled = df_encoded.fillna(df_encoded.mean())

In [56]:
df_filled['Feature1_squared'] = df_filled['Numeric'] ** 2
df_filled['Feature2_cubed'] = df_filled['Numeric'] ** 3
df_filled['Feature3_log'] = np.log(df_filled['Numeric'])

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)